@import url("normalize.css");

/* Global */
html {
    color: #000;
}

.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}

.grey1 {
    color: #bdbdbc;
}

.grey2 {
    color: #9a9897;
}

.white {
    color: #fff;
}

.orange {
    color: #e9482f;
}

/* Header */ 
.navbar-logo {

}

.navbar-logo img {
    height: 49px;
}

@media (max-width: 767px) {
    .navbar-logo {}

    .right-nav {
        height: 25px;
    }

    .search-bar {
        border-left: 1px solid #bdbdbc;
        border-right: 1px solid #bdbdbc;
        padding: 5px 10px 0 10px;
        width: 20px;
    }

    .menu-img {
        padding: 5px 10px 0 10px;
        width: 20px;
    }
}